.searchbar_container {
    padding: 20px;
    background-color: #ffffff;
    margin-bottom: 20px;
    display: inline-block;
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}